@using Microsoft.FluentUI.AspNetCore.Components

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="css/fluent-overrides.css" />
    <link rel="stylesheet" href="eShop.Web.App.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <FluentDesignTheme StorageName="theme-preference" Mode="DesignThemeModes.System" />

    <Routes @rendermode="InteractiveServer" />

    <script src="_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.lib.module.js" type="module"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>