@page "/counter"
@rendermode InteractiveServer

<PageTitle>Orders</PageTitle>

<h1>Place Orders</h1>

<p role="status">Number of Orders Placed: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Place Orders</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
