@page "/counter"
@rendermode InteractiveServer

<PageTitle>Orders</PageTitle>

<h1>Place Orders</h1>

<p role="status">Number of Orders Placed: @currentCount</p>

<p role="status">@errorMessage</p>

<button class="btn btn-primary" @onclick="PlaceOrder">Place Orders</button>

@code {
    private int currentCount = 0;
    private string errorMessage = string.Empty;

    private void PlaceOrder()
    {
        try
        {
            var order = new Orders();
            order.AddOrderMessageToQueueAsync();
            currentCount++;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            
        }
        
    }
}
